*html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  margin: 0px;
  color: black;
  font-family: "Lato";
}
body h {
  font-size: 40px;
}
body h1 {
  font-size: 60px;
  font-weight: 800;
}
body h2 {
  font-size: 50px;
  font-weight: 800;
  margin: 0;
}
body h3 {
  font-size: 40px;
}
body h4 {
  font-size: 25px;
}
body p {
  font-size: 18px;
  line-height: 1.5em;
}
@media (max-width: 500px) {
  body h {
    font-size: 30px;
  }
  body h1 {
    font-size: 25px;
  }
  body h2 {
    font-size: 20px;
  }
  body h3 {
    font-size: 20px;
  }
  body h4 {
    font-size: 10px;
  }
  body p {
    font-size: 12px;
    line-height: 1.8em;
  }
}
/*Top Nav bar*/

header {
  background-color: #fff;
  -webkit-box-shadow: 0 0px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 0px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 0px 5px rgba(57, 63, 72, 0.3);
  /*position: fixed;*/
  width: 100%;
  z-index: 1;
}
span.logo {
  position: absolute;
  top: 7px;
  width: 191px;
  height: 56px;
  background-image: url("./images/RM\ LOGO\ 2.png");
  background-repeat: no-repeat;
  background-size: auto 48px;
}
.nav1 {
  height: 60px;
  max-width: 1500px;
  margin: auto;
  width: 100%;
  position: relative;
}
.nav1 > .nav-header {
  display: inline;
}
.nav1 > .nav-header > .nav-title {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 10px 10px 10px;
  font-size: 22px;
  color: #fff;
  font-weight: 550;
}
header .nav1 > .nav-links {
  font-size: 18px;
  display: inline;
  float: right;
  text-align: center;
}
.nav1 > .nav-links > ul li a {
  color: black;
  line-height: 40px;
  font-size: 15px;
  display: block;
  padding: 0 15px;
  text-decoration: none;
}
.icon {
  display: flex;
}

#Icons {
  padding: 0 5px;
}
.nav1 > .nav-links > ul {
  list-style: none;
  position: relative;
  padding: 0;
  padding-top: 12px;
}
.list-item {
  display: flex;
  margin: 0%;
}
/* .nav > .nav-links > ul li a {
    border: 3px solid #FD2E35; */
/* border-image: repeating-linear-gradient(135deg,#F8CA00 0 10px,#E97F02 0 20px,#BD1550 0 30px) 8; */
/* -webkit-mask: 
      conic-gradient(from 180deg at top 8px right 8px, #0000 90deg,#000 0)
       var(--_i,200%) 0  /200% var(--_i,8px) border-box no-repeat,
      conic-gradient(at bottom 8px left  8px,  #0000 90deg,#000 0)
       0   var(--_i,200%)/var(--_i,8px) 200% border-box no-repeat,
      linear-gradient(#000 0 0) padding-box no-repeat;
    transition: .3s, -webkit-mask-position .3s .3s;
  } */
.nav1 > .nav-links > ul li a:hover {
  --_i: 100%;
  color: #fd2e35;
  transition: 0.3s, -webkit-mask-size 0.3s 0.3s;
}

/* .nav > .nav-links > ul li a:hover{
      background-color:#F0483E;
      border-radius: 5px;
      color:white;
    
  } */
.nav1 .nav-links a.active {
  color: #fd2e35;
}
.nav1 .nav-links a.active:hover {
  background-color: none;
}
.nav1 .nav-links ul a.icon {
  margin-left: 80px;
  margin-right: 10px;
}

.nav1 .nav-links ul a i {
  padding: 7px;
  margin-left: 5px;
  background-color: #fff;
  border-radius: 50px;
}
.nav1 > .nav-btn {
  display: none; /*Hide toggle button for desktop*/
}
.nav1 > #nav-check {
  display: none;
}
/* @media (max-width:750px) {
    
      .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
      }
      .nav > .nav-btn > label {
        height: 50px;
        padding: 13px;
        display: inline-block;
        width: 50px;
  
      }
      .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
          background-color: rgba(0, 0, 0, 0.3);
        }
        .nav > .nav-btn > label > span {
          height: 10px;
          border-top: 2px solid black;
          display: block;
          width: 25px;
    
        }
        .nav > .nav-links {
          position: absolute;
          height: 0px;
          transition: all 0.3s ease-in;
          overflow-y: hidden;
          top: 85px;
          display: block;
          width: 100%;
          background-color: #333;
          left: 0px;
        }
        .nav > .nav-links > ul li a {
          display: block;
          width: 100%;
        }
        .nav > .nav-links > ul li{
          padding: 0;
          background-color: #333;
          display: block;
          margin-bottom: 20px;
           
        }
        .nav > .nav-links > ul li a{
            margin-left: 40%;
        }
        .nav .nav-links ul a.icon{
          margin-left: 39%;
        }
  
      .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
      }
      .nav > #nav-check:checked ~ .nav-links {
        height: calc(70vh - 50px);
        overflow-y: auto;
      }
  } */
@media (max-width: 500px) {
  .nav1 > .nav-links {
    float: none;
  }
  .nav1 .nav-links ul {
    display: inline-flex;
    margin-top: 70px;
    padding-right: 75px;
  }
  .icon {
    display: none;
  }
  .nav1 > .nav-links > ul li a {
    font-size: 11px;
  }
  span.logo {
    left: 129px;
    width: 190px;
    height: 50px;
    background-size: auto 50px;
  }
}
.big-frame {
  background-color: #d42f42;
}
/* frame1 */
.frame1 {
  text-align: center;
  color: #fff;
  max-width: 1300px;
  margin: auto;
}
.frame1 h1 {
  padding: 50px 0px 70px 0px;
}
.content-block {
  text-align: left;
  padding: 0px 0px 150px 100px;
}
.form input[type="text"] {
  width: 40%;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  color: #000;
  padding: 10px 47px 10px 10px;
  border-radius: 5px;
}
/* address-container */
.frame2-1 {
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.frame2-1-content {
  max-width: 1300px;
  margin: auto;
}
.address-container {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 80%;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
}
.address-container-left {
  flex: 50%;
  padding: 0px 0px 0px 120px;
}
.address-container-right {
  flex: 50%;
  text-align: center;
}
.address-container-right img {
  position: absolute;
  margin-top: -159px;
  margin-left: -194px;
}
@media (max-width: 500px) {
  .content-block {
    padding: 0px 0px 50px 20px;
  }
  .address-container-right {
    display: none;
  }
  .address-container-left {
    padding: 20px 10px;
  }
  .form input[type="text"] {
    width: 77%;
  }
}
/* frame2 */
.frame2 {
  background-image: url("./images/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 100px 0px;
}
.frame2-content {
  max-width: 1300px;
  margin: auto;
}
@media (max-width: 800px) {
  .frame2 {
    background-repeat: repeat;
    background-position: none;
  }
}
.container1 {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
}
@media (max-width: 800px) {
  .container1 {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  .container1 {
    width: 90%;
  }
}
.container1-left {
  flex: 40%;
  background-image: url("./images/Rectangle\ 17210.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  /* position: relative; */
}
.container1-left h3 {
  color: #fff;
  padding: 20px 0px 20px 30px;
  margin: 0%;
  font-weight: 800;
}
/* .container {
        width: 100%; 
          overflow: hidden;
        }
        .mySlides{
            display: none;
            position: absolute;
            width: 93%;
            height: 70%;
           padding: 20px;
            /* height:100%; */

/* } */
/* .mySlides img{
            width: 100%;
            height: 100%;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
          }
          .cursor {
            cursor: pointer;
          }
          .prev,
          .next {
            cursor: pointer;
            position: absolute;
            top: 55%;
            width: auto;
            padding: 16px;
            margin-top: -50px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
          }
          .next {
            right: 0;
            border-radius: 3px 0 0 3px;
          } */

/* On hover, add a black background color with a little bit see-through */
/* .prev:hover,
          .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
          }       */
.container1-right {
  flex: 60%;
  background-color: #fff;
  padding: 20px 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.container1-right h3 {
  margin: 0%;
  padding-top: 30px;
}
.input-row {
  margin-bottom: 10px;
}
.input-row label {
  display: block;
  margin-bottom: 10px;
}
.input-row input,
.input-row textarea,
.input-row select {
  width: 100%;
  padding: 5px;
  border: 1px solid #d6d6d6;
  border-radius: 3px;
  outline: 0;
  margin-bottom: 3px;
  font-family: "lato";
}
.input-row input[type="submit"] {
  width: 100%;
  display: block;
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
  color: #fff;
  background: #d42f42;
}
.success {
  background: #a1cf86;
  padding: 6px 12px;
  text-align: center;
  border-radius: 5px;
  color: #000;
  font-synthesis: 14px;
  margin-top: 15px;
}
@media screen and (max-width: 500px) {
  .container1-left img {
    width: 100%;
  }
}
/* footer */
footer {
  text-align: center;
}
.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 42px auto;
  margin-top: 50px;
}
.footer-logo {
  margin: 20px auto;
  margin-bottom: 40px;
}
.footer-icon a {
  padding: 0 32px;
}
p.copyright {
  font-size: 12px;
}
